.card__link
    color white
    font-size 0.875em
    font-weight 700
    line-height 1.5em
    text-decoration none

    & > span
        font-family Arial
        font-weight 400
        margin-left 15px
