.buying-card
    box-sizing border-box
    padding 47px 54px

    &:hover
        background-color white
        box-shadow 0 0 3.875em rgba(0, 0, 0, 0.05)

    & .button
        align-self flex-start
        font-size 16px
        margin 1.5em 0
        padding 1.125em 2em
        border none
        border-radius 0.1875em
        background-color #82ca9c

    & .button__text
        color white
        font-size 0.813em
        font-weight 700
        line-height 1.375em
        text-transform uppercase
