.subscribe
{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 58px;

    &__input
    {
        width: 85%;
        height: inherit;
    }

    &__button
    {
        width: 15%;
        height: inherit;
    }

    &__text
    {
        color #57697f

        font-size 0.75rem;
        line-height 1.125rem;

        width: 72%;

        margin-top: 1.125rem;
    }
}
