.header
    background  url(left.png) no-repeat calc(50% - 427.5px) top,
                url(right-bottom.png) no-repeat calc(50% + 296.5px) bottom,
                url(right.png) no-repeat calc(50% + 123.5px) top,
                url(header.jpg) no-repeat 50% top,
                #f5989d
    height 951px
    box-sizing border-box
    padding-top 56px
    position relative
