.card
    display inline-flex
    flex-direction column
    justify-content space-between
    box-sizing border-box
    width 25em
    height 17.375em
    padding 3.125em 2.6875em 3.75em
    color white
    white-space normal
